body {
  background: #fff url('./img/bg.jpg') center 0 no-repeat;
  padding: 0;
  margin: 0;
}

ul, ol, div{
  padding: 0;
}
  .header-follow {
    background-color: #6E6E6E;
    width: 50vw;
    height: 50px;
    text-align: center;
    vertical-align: middle;

    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin: auto;
  }
    .header-follow-a {
      margin: 0px 20px 0px 20px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
      .header-follow-a:hover {
        animation: rotacion .3s;
        -webkit-animation: rotacion .3s;
        -moz-animation: rotacion .3s;
      }
        @keyframes rotacion {
            50% {
                  -webkit-transform: scale(.8,1.2) rotateZ(1deg);
                  transform: scale(.8,1.2) rotateZ(1deg);
                }
        }

        @-webkit-keyframes rotacion {
            50% {
                  -webkit-transform: scale(1.1,1) rotateZ(5deg);
                  transform: scale(1.1,1) rotateZ(5deg);
                }
        }
